
.contact{
    padding: 50px var(--GeneralMarginWidth);
    background-color: var(--DarkGray);
}

.contact>h1{
    text-align: center;
    margin:0;
    padding:0 0 25px 0;
    color: var(--DarkOrange);
    font-size: 2rem;
    text-transform: uppercase;
}
/*Personal message*/
.contact__personalMessage{
    padding: 15px 50px;
    margin:0 0 25px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    border: 2px solid var(--Orange);
    border-radius: 20px;
}

.contact__personalMessage p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.contact__socialMedia {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact__socialMediaLinks{
    display: flex;
    gap: 25px;
}

.contact__socialMedia a{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.contact__btnLinkedin{
    background:url(./icon-linkedin.svg) no-repeat ;
    background-size: contain;
}
.contact__btnGithub{
    background:url(./icon-github.svg) no-repeat ;
    background-size: contain;
}


/*form*/

.contact__form{
    border-radius: 25px;
    background: var(--GeneralBackGround);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

.contact__form label{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 10px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}

.contact__form label input,.contact__form label textarea{
    padding:10px 10px ;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;

}

.contact__form label textarea{
    resize: none;
    height: 200px;
}

.button-form{
    width: 200px;
}


@media (max-width:650px) {
    .contact{
        padding: 25px var(--GeneralRMarginWidth);
    }

    .contact__personalMessage{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0;
    }

    .button-form{
        place-self: center;
    }
 
}