.header {
    position: sticky;
    top: 0;
    height: 50px;
}



.header__container {
    background: var(--GeneralBackGround);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    z-index: 500;

}




.button--navbar {
    height: 35px;
    margin-right: 25px;
    text-decoration: none;
    display: grid;
    place-items: center;
}

.header__navbar {
    padding-right: var(--GeneralMarginWidth);
    display: block;
}

.header__navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header__navbar li a {
    width: 125px;
    height: 50px;
    display: grid;
    place-content: center;
    font-size: 1rem;
    cursor: pointer;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.header__navbar li:hover {
    color: #fff;
    background: linear-gradient(180deg, var(--DarkOrange) 0%, var(--VeryDarkOrange) 100%);
}



.header__buttonMenu {
    display: none;
}

.header__rMenu {
    display: none;
}


@media (max-width:775px) {
    .header__container {
        display: grid;
        grid-template-areas:
            'buttonContact buttonMenu'
        ;
        grid-template-columns: 1fr 35px;
        grid-template-rows: 50px;
        place-items: center end;
    }

    .header__navbar {
        display: none;
    }

    .button--navbar {
        grid-area: buttonContact;
        margin-right: calc(25px + var(--GeneralMarginWidth));
   
    }

    .header__buttonMenu {
        display: block;
        margin-right: var(--GeneralMarginWidth);
        background: url(./icon-hamburger.svg);
        background-size: 30px 30px;
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        grid-area: buttonMenu;


    }

    .header__buttonMenu img {
        width: 100%;
        height: 100%;
    }

  
    /*Responsive menu with animation*/

    .header__rMenu {
        display: block;
        visibility: hidden;
        width: 100%;
        text-align: center;
        background: var(--GeneralBackGround);
        position: absolute;
        z-index: -1;
        top: -500%;
        color: #fff;


    }

    .header__rMenu--open {
        animation: rMenuAnimation--open 0.4s cubic-bezier(0.23, 1, 0.320, 1) 1 forwards;
    }

    .header__rMenu--close {
        animation: rMenuAnimation--close 0.4s cubic-bezier(0.23, 1, 0.320, 1) 1 forwards;
    }

    .header__rMenu ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
    }

    .header__rMenu li {
        height: min-content;
    }

    .header__rMenu li a {
        display: block;
        padding: 25px 0;
        border-top: 1px solid var(--Orange);
        font-size: 2rem;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        width: 100%;
    }
    
    .header__rMenu li:last-child{
        border-bottom: 1px solid var(--Orange);

    }

    .header__rMenu ul li:hover {
        background-color: var(--VeryDarkOrange);
    }

    @keyframes rMenuAnimation--open {
        from {
            top: -500%;
        }
        
        to {
            visibility: visible;
            top: 100%;
        }
    }

    @keyframes rMenuAnimation--close {
        from {
            top: 100%;
            visibility: visible;
        }

        to {
            top: -500%;
            visibility: hidden;
        }
    }


}