@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');


:root{
  --Blue:#3A89C5;
  --DarkBlue:#3A44C5;
  --Cyan:#3AC5BB;
  --DarkCyan:#007e76;
  --LigthGray:#F3F3F3;
  --DarkGray:#EAEAEA;

  --GeneralBackGround: linear-gradient(90.09deg, #3A89C5 0.07%, #3AC5BB 99.91%);
  --GeneralMarginWidth:7vw;
}


/*General styles*/
*{
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}
.button{
  height: 45px;
  width: 125px;
  background:var(--DarkCyan);
  color: #fff;
  
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: -3px 3px 4px rgb(70, 70, 70);
  cursor: pointer;
  font-family:'Roboto', sans-serif;
  
}

.button:hover{
  background: var(--Cyan);
}

/**/

.presentation{
  background-color: yellow;
  height: 800px;
}

.projects {
  background-color: aqua;
  height: 800px;
}

.skills{
  background-color: blueviolet;
  height: 800px;
}

.contact{
  height: 800px;
  background-color: coral;
}
