@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');


:root{
  --Orange:#ffa600;
  --DarkOrange:#ce8600;

  --LigthGray:#F3F3F3;
  --DarkGray:#EAEAEA;
  --VeryDarkOrange:#9c5e00;

  --GeneralBackGround: linear-gradient(90.09deg, #202020 0.07%, #202020 99.91%);
  --GeneralMarginWidth:7vw;
  --GeneralRMarginWidth:5vw;
}


/*General styles*/
*{
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}


.button{
  height: 45px;
  width: 125px;
  background:var(--DarkOrange);
  color: #fff;
  
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: -3px 3px 4px rgb(70, 70, 70);
  cursor: pointer;
  font-family:'Roboto', sans-serif;
  font-weight: 600;
  
}

.button:hover{
  background: var(--VeryDarkOrange);
}


/**/


.contact{
  height: 800px;
}
